/nginx-1.1.19/.pc/
/nginx-1.1.19/CHANGES
/nginx-1.1.19/CHANGES.ru
/nginx-1.1.19/LICENSE
/nginx-1.1.19/README
/nginx-1.1.19/auto/
/nginx-1.1.19/conf/
/nginx-1.1.19/configure
/nginx-1.1.19/contrib/
/nginx-1.1.19/html/
/nginx-1.1.19/man/
/nginx-1.1.19/src/
